.contact {
  position: absolute;
  width: 100vw;
  height: 100vh;

}

.contact:after {
  content: "";
  height: 700px;
  width: 700px;
  background: #e7f7fe;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  right: -460px;
  z-index: -10;
  animation: contactAnim 25s alternate infinite;
}

@media screen and (max-width: 840px) {
  .contact:after {
    height: 400px;
    width: 400px;
    top: 520px;
    right: -140px;
  }
}

@media screen and (max-width: 430px) {
  .contact:after {
    display: none;
  }
}

@keyframes contactAnim {
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.form-container {
  margin: 7% 0 0 24%;
  max-width: 50%;
  position: relative;
  max-width: 300px;
}

@media screen and (max-width: 740px) {
  .contact .form-container {
    margin: 2rem 0 0 30%;
  }
}

@media screen and (max-width: 440px) {
   .form-container {
    margin-left: 2rem;
  }
}

.contact .form-container h1 {
  color: #009be5;
}
.contact .form-container h2 {
  margin-bottom: 50px;
}

.form-container h2:before {
  content: "";
  height: 70px;
  width: 70px;
  border: 1px #00c1ec solid; 
  border-radius: 50%;
  position: absolute;
  top: -22px;
  left: 133px;
  z-index: -1;
}

@media screen and (max-width: 850px) {
  .form-container h2:before {
    height: 110px;
    width: 110px;
    left: -40px;
    top: -15px;
  }
}

input,
textarea {
  background: none;
  font-family: sans-serif;
  font-size: 1.2rem;
  border-bottom: 1px solid #00c1ec;
  border-radius: 5px;
}

@media screen and (min-width: 1200px) {
input,
textarea {
  font-size: 1.5rem;
}
}
input {
  padding: 10px 6px;
  margin-bottom: 30px;
}

 textarea {
  resize: none;
  padding: 6px 0;
  height: 70px;
}
@media screen and (max-width: 540px) {
  textarea {
    width: 75%;
    padding: 12px 0;
  }
}

input.button {
  background: #009be5;
  height: 55px;
  width: 126px;
  border-radius: 50px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.formMessage p {
  border-radius: 20px;
  text-align: center;
  padding: 5px 0;
}

.formMessage p.success {
  background: rgb(139, 248, 139);
}

.formMessage p.error {
  background: rgb(246, 147, 147);
}
.contact-infos {
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-rows: repeat(4, 23%) 12%;
  height: 70%;
  width: 30%;
  max-width: 500px;

}

@media screen and (max-width: 740px) {
  .contact-infos {
      height: 200px;
      width: 100%;
      max-width: 100%;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
       "a b c"
       "d d d"
       "e e f";
  }
}

@media screen and (max-width: 540px) {
  .contact-infos {
    grid-template-rows: repeat(3, 60px);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "b b b c c c"
      "d d d d d d"
      "e e e e f f";
  }
}

@media screen and (max-height: 500px) {
  .contact-infos {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contact-infos {
    width: 35%;
    height: 83%;
  }
}
h4 {
  color: rgb(141, 141, 141);
  font-size: 1.3rem;
  font-weight: 200;
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  h4 {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1rem;
}

@media screen and (min-width: 1200px) {
  p {
    font-size: 1.5rem;
  }
}

.email,
.phone {
  display: block;
}

@media screen and (max-height: 640px) {
  .email,
  .phone {
    display: none;
  }
}

.email .content p,
.phone .content p {
  transition: 0.25s;
}

.email .content p:hover,
.phone .content p:hover {
  transform: translateX(5px);
}

.address {
  position: relative;
  right: 2rem;
}

@media screen and (max-width: 540px) {
  .address {
    display: none;
  }
}

.address .content {
  position: absolute;
  right: 10px;
}

.phone {
  position: relative;
}

@media screen and (max-width: 540px) {
  .phone {
    text-align: center;
    font-size: 0.8rem;
    grid-area: b;
  }

  .phone .content {
    position: relative;
    margin: 0 auto;
    left: 0;
    transform: translateX(0);
  }
}

.email {
  @media screen and (max-width: 540px) {
    grid-area: c;
    font-size: 0.8rem;
    text-align: center;
  }
}


.credits {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 740px) {
  .credits {
    transform: translateY(20px);
    font-size: 0.7rem;
    margin-right: 1rem;
    grid-area: f;
  }
}

.credits p {
  font-size: 0.9rem;
}

