.home {
    height: 100vh;
    width: 100vw;
    position: absolute;
  }
  
  .home:after {
    content: '';
    height: 800px;
    width: 800px;
    background: #e7f7fe;
    border-radius: 50%;
    position: absolute;
    bottom: -480px;
    right: 0px;
    z-index: -2;
    animation: homeAnim 26s infinite alternate;
  }
  
  @media screen and (max-width: 650px) {
    .home:after {
      height: 400px;
      width: 400px;
      bottom: -270px;
    }
  }
  
  @media screen and (max-width: 430px) {
    .home:after {
      display: none;
    }
  }
  
  @keyframes homeAnim {
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  .home .home-main {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 95%;
  }
  
  .home .home-main .main-content {
    user-select: none;
  }
  
  .home .home-main .main-content h1 {
    font-size: 3.7rem;
    position: relative;
    font-family: serif;
  }
  
  @media screen and (max-width: 650px) {
    .home .home-main .main-content h1 {
      font-size: 2rem;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .home .home-main .main-content h1 {
      font-size: 5rem;
    }
  }
  
  .home .home-main .main-content h1:before {
    content: '';
    position: absolute;
    height: 225px;
    width: 225px;
    border-radius: 50%;
    border: 1px #00c1ec solid;
    top: -40px;
    left: -180px;
    z-index: -1;
    animation: h1Anim 1.5s forwards ease;
    transform: scale(0);
  }
  
  @media screen and (max-width: 850px) {
    .home .home-main .main-content h1:before {
      height: 110px;
      width: 110px;
      left: -40px;
      top: -15px;
    }
  }
  
  @keyframes h1Anim {
    to {
      transform: scale(1);
    }
  }
  
  .home .home-main .main-content h2 {
    font-size: 4.2rem;
    font-weight: 100;
  }
  
  @media screen and (max-width: 650px) {
    .home .home-main .main-content h2 {
      font-size: 2rem;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .home .home-main .main-content h2 {
      font-size: 5rem;
    }
  }
   
  .profilePix {
    display: flex;
    /* font: 1em sans-serif; */

  }
  .profilePix h5 {
    margin-top: 30%;
    color: rgba(103, 102, 102, 0.799);
  }

  .profilePix p {
    font-size: 24px;
    color: rgba(103, 102, 102, 0.799);
  }

  .profilePix span {
    color: teal;
  }
  .profile-img {
    margin: 20px 50px;
    background: teal;
    border-radius: 50%;
    width: 32rem;
    height: 35rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.CV button {
    position: absolute;
    background: #009be5;
    color: #ffffff;  
    right: 41%;
    border: 2px solid #009be5;
    padding-inline: 40px;
    border-radius: 56px;
    height: 55px;
    font-size: 1.2rem;
   
}
.CV button:hover {
    background: #009be5;
    font-size: 24px;
    border: 2px solid #000;
    transform: scale(1.2);
    transition: 0.4s;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}